In [203]:
# imports

import requests
import pandas as pd

In [204]:

# open online txt file and read data

target_url='https://raw.githubusercontent.com/openfootball/england/master/2019-20/1-premierleague.txt'
r = requests.get(target_url)
data = r.text
data = str(data).split('\n')
data = data[3:]

In [205]:
# Sample data

data[:35]

['Matchday 1',
 '[Fri Aug/9]',
 '  FC Liverpool            4-1 Norwich City',
 '[Sat Aug/10]',
 '  West Ham United         0-5 Manchester City',
 '  Crystal Palace          0-0 FC Everton',
 '  FC Watford              0-3 Brighton & Hove Albion',
 '  FC Burnley              3-0 FC Southampton',
 '  AFC Bournemouth         3-0 Sheffield United',
 '  Tottenham Hotspur       3-1 Aston Villa',
 '[Sun Aug/11]',
 '  Newcastle United        0-1 FC Arsenal',
 '  Manchester United       4-0 FC Chelsea',
 '  Leicester City          0-0 Wolverhampton Wanderers',
 '',
 '',
 'Matchday 2',
 '[Sat Aug/17]',
 '  FC Arsenal              2-1 FC Burnley',
 '  Aston Villa             1-2 AFC Bournemouth',
 '  FC Everton              1-0 FC Watford',
 '  FC Southampton          1-2 FC Liverpool',
 '  Manchester City         2-2 Tottenham Hotspur',
 '  Norwich City            3-1 Newcastle United',
 '  Brighton & Hove Albion  1-1 West Ham United',
 '[Sun Aug/18]',
 '  FC Chelsea              1-1 Leicester City',
 '  Sheffield United        1-0 Crystal Palace',
 '[Mon Aug/19]',
 '  Wolverhampton Wanderers 1-1 Manchester United',
 '',
 '',
 'Matchday 3',
 '[Fri Aug/23]',
 '  Aston Villa             2-0 FC Everton']

In [206]:
# set up dataframe
results_df = pd.DataFrame(columns = ['Home','Home Score','Away Score','Away','Round','Date','Day of Week'])
results_df

Empty DataFrame
Columns: [Home, Home Score, Away Score, Away, Round, Date, Day of Week]
Index: []

In [207]:
# load data into dataframe

i = 0
for line in data:
    if 'Matchday' in line:
        current_round = int(line.split(' ')[1])
    if '[' in line:
        string = line[1:-1].split(' ')
        day_of_week = string[0]
        date = string[1]
    if '-' in line:
        if ' - ' not in line:
            string = line.split('-')
        
            home,away = string[0],string[1]

            home = home.rsplit(' ', 1)
            home_team = home[0].strip()
            home_score = int(home[1].strip())

            away = away.split(' ', 1)
            away_team = away[1].strip()
            away_score = int(away[0].strip())
        
            results_df.loc[i] = [home_team ,home_score, away_score, away_team, current_round, date, day_of_week]
            
        else:
            string = line.split('-')
        
            home,away = string[0],string[1]
            home_team = home.strip()
            away_team = away.strip()
        
            results_df.loc[i] = [home_team ,None, None, away_team, current_round, date, day_of_week]
            
        i += 1

In [208]:
# results_df

In [209]:
# fixtures for selected team
select_team = 'Sheffield United'

results_df[(results_df['Home'] == select_team) | (results_df['Away'] == select_team)]

,Home,Home Score,Away Score,Away,Round,Date,Day of Week
5,AFC Bournemouth,3,0,Sheffield United,1,Aug/10,Sat
18,Sheffield United,1,0,Crystal Palace,2,Aug/18,Sun
24,Sheffield United,1,2,Leicester City,3,Aug/24,Sat
30,FC Chelsea,2,2,Sheffield United,4,Aug/31,Sat
44,Sheffield United,0,1,FC Southampton,5,Sep/14,Sat
51,FC Everton,0,2,Sheffield United,6,Sep/21,Sat
66,Sheffield United,0,1,FC Liverpool,7,Sep/28,Sat
72,FC Watford,0,0,Sheffield United,8,Oct/5,Sat
89,Sheffield United,1,0,FC Arsenal,9,Oct/21,Mon
91,West Ham United,1,1,Sheffield United,10,Oct/26,Sat
105,Sheffield United,None,None,FC Burnley,11,Nov/2,Sat
116,Tottenham Hotspur,None,None,Sheffield United,12,Nov/9,Sat
128,Sheffield United,None,None,Manchester United,13,Nov/24,Sun
136,Wolverhampton Wanderers,None,None,Sheffield United,14,Dec/1,Sun
144,Sheffield United,None,None,Newcastle United,15,Dec/3,Tue
155,Norwich City,None,None,Sheffield United,16,Dec/8,Sun
163,Sheffield United,None,None,Aston Villa,17,Dec/14,Sat
177,Brighton & Hove Albion,None,None,Sheffield United,18,Dec/21,Sat
187,Sheffield United,None,None,FC Watford,19,Dec/26,Thu
199,Manchester City,None,None,Sheffield United,20,Dec/29,Sun
209,FC Liverpool,None,None,Sheffield United,21,Jan/2,Thu
210,Sheffield United,None,None,West Ham United,22,Jan/10,Fri
220,FC Arsenal,None,None,Sheffield United,23,Jan/18,Sat
234,Sheffield United,None,None,Manchester City,24,Jan/21,Tue
240,Crystal Palace,None,None,Sheffield United,25,Feb/1,Sat
257,Sheffield United,None,None,AFC Bournemouth,26,Feb/8,Sat
268,Sheffield United,None,None,Brighton & Hove Albion,27,Feb/22,Sat
270,Aston Villa,None,None,Sheffield United,28,Feb/29,Sat
288,Sheffield United,None,None,Norwich City,29,Mar/7,Sat
292,Newcastle United,None,None,Sheffield United,30,Mar/14,Sat
303,Manchester United,None,None,Sheffield United,31,Mar/21,Sat
317,Sheffield United,None,None,Tottenham Hotspur,32,Apr/4,Sat
329,FC Burnley,None,None,Sheffield United,33,Apr/11,Sat
337,Sheffield United,None,None,Wolverhampton Wanderers,34,Apr/18,Sat
346,Sheffield United,None,None,FC Chelsea,35,Apr/25,Sat
354,Leicester City,None,None,Sheffield United,36,May/2,Sat
366,Sheffield United,None,None,FC Everton,37,May/9,Sat
376,FC Southampton,None,None,Sheffield United,38,May/17,Sun

In [210]:
# set up standings table
standings_df = pd.DataFrame(columns = ['Team','Points','Win','Draw','Lose','Goal Forward','Goal Against','Goal Difference'])
teams = pd.Series(results_df['Home'].unique()).sort_values()
standings_df['Team'] = teams

standings_df = standings_df.set_index('Team')

for team in teams:
    standings_df.loc[team] = [0] * 7

# standings_df

In [211]:
for index, row in results_df.iterrows():
    if row['Home Score'] == None:
        break
    else:
        home_team = results_df.loc[index]['Home']
        away_team = results_df.loc[index]['Away']
        
        # Goals
        standings_df['Goal Forward'][home_team] += results_df.loc[index]['Home Score']
        standings_df['Goal Against'][home_team] += results_df.loc[index]['Away Score']
        
        standings_df['Goal Forward'][away_team] += results_df.loc[index]['Away Score']
        standings_df['Goal Against'][away_team] += results_df.loc[index]['Home Score']
        
        
        # Points and WDL
        if row['Home Score'] > row['Away Score']:
            standings_df['Points'][home_team] += 3
            
            standings_df['Win'][home_team] += 1
            standings_df['Lose'][away_team] += 1
            
        elif row['Home Score'] == row['Away Score']:
            standings_df['Points'][home_team] += 1
            standings_df['Points'][away_team] += 1
            
            standings_df['Draw'][home_team] += 1
            standings_df['Draw'][away_team] += 1
        else:
            standings_df['Points'][away_team] += 3
            
            standings_df['Lose'][home_team] += 1
            standings_df['Win'][away_team] += 1
            
standings_df['Goal Difference'] = standings_df['Goal Forward'] - standings_df['Goal Against']
standings_df = standings_df.sort_values(by=['Points','Goal Difference','Goal Forward'], ascending=False)

standings_df

,Points,Win,Draw,Lose,Goal Forward,Goal Against,Goal Difference
Team,,,,,,,
FC Liverpool,28,9,1,0,23,8,15
Manchester City,22,7,1,2,32,9,23
Leicester City,20,6,2,2,25,8,17
FC Chelsea,20,6,2,2,23,16,7
FC Arsenal,16,4,4,2,15,14,1
AFC Bournemouth,15,4,3,3,15,12,3
Crystal Palace,15,4,3,3,10,12,-2
Manchester United,13,3,4,3,13,10,3
West Ham United,13,3,4,3,12,14,-2
Tottenham Hotspur,12,3,3,4,16,15,1
Wolverhampton Wanderers,12,2,6,2,13,13,0
FC Burnley,12,3,3,4,14,15,-1
Brighton & Hove Albion,12,3,3,4,11,13,-2
Sheffield United,12,3,3,4,8,10,-2
Aston Villa,11,3,2,5,14,15,-1
FC Everton,10,3,1,6,10,16,-6
Newcastle United,9,2,3,5,6,15,-9
FC Southampton,8,2,2,6,9,25,-16
Norwich City,7,2,1,7,11,24,-13
FC Watford,5,0,5,5,5,21,-16